<h1>Pages#home</h1>

<h1>Welcome To The Pro Shop</h1>

<%= link_to '<button type="button">Shop Equipment Now</button>'.html_safe, equipment_listings_path %>

<%= link_to '<button type="button">View Golfing Services</button>'.html_safe, services_path %>